<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/html1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Get Frontend</title>
  </head>
  <body>

    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="fa-solid fa-brain"></i>
                <div class="logo_name">GetFrontend</div>

            </div>
            <h3>HTML</h3>
        </div>
        <ul class="nav_list">

            <!-- main -->
            <li>
                <a href="index">
                <i class="fa-solid fa-house"></i>
                <span class="links_name">Introduction</span>
                </a>
                <span class="tooltip">Main</span>
            </li>
            <!-- create -->
            <li>
<!--                <a href="create">-->
                <a href="about_html_2">
                <i class="fa-solid fa-circle-plus"></i>
                <span class="links_name">Structure HTML</span>
                </a>
                <span class="tooltip">Create</span>
            </li>
            <!-- update -->
            <li>
<!--                <a href="update">-->
                <a href="#">
                    <i class="fa-solid fa-file-pen"></i>
                <span class="links_name">Elements</span>
                </a>
                <span class="tooltip">Update</span>
            </li>
            <!-- find -->
            <li>
<!--                <a href="find">-->
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                <span class="links_name">Attributes</span>
                </a>
                <span class="tooltip">Find</span>
            </li>
            <li>
                <a href="results">
                <i class="fa-solid fa-file-circle-check"></i>
                <span class="links_name">Another</span>
                </a>
                <span class="tooltip">Result</span>
            </li>
                   
            <!-- delete -->
            <li>
<!--                <a href="delete">-->
                <a href="delete">
                    <i class="fa-solid fa-trash"></i>
                <span class="links_name">Another</span>
                </a>
                <span class="tooltip">Delete</span>
            </li> 
        </ul>
    </div>

    <div class="home_content">
        <div id="main" class="container ">
            <h1>Introduction to HTML</h1>
            <p>At its heart, HTML is a language made up of elements, which can be applied to pieces of text to give them different meaning in a document (Is it a paragraph? Is it a bulleted list? Is it part of a table?), structure a document into logical sections (Does it have a header? Three columns of content? A navigation menu?), and embed content such as images and videos into a page. This module will introduce the first two of these and introduce fundamental concepts and syntax you need to know to understand HTML.</p>

            <div class="ads">
                <h4>Looking to become a front-end web developer?</h4>
                <p>We have put together a course that includes all the essential information you need to work towards your goal.</p>
                <a href="delete">Get started</a>
            </div>
            <p>One of HTML's main jobs is to give text structure so that a browser can display an HTML document the way its developer intends. This article explains the way HTML can be used to structure a page of text by adding headings and paragraphs, emphasizing words, creating lists, and more</p>
            <div class="iframe-container">
                <iframe width="auto" height="auto" src="https://www.youtube.com/embed/HSF_yX73I7w?autoplay=1&mute=1">
                </iframe>
            </div>
            <h3 class="hz">The basics: headings and paragraphs</h3>
            <p>Most structured text consists of headings and paragraphs, whether you are reading a story, a newspaper, a college textbook, a magazine, etc.</p>
            <img src="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals/newspaper_small.jpg" alt="">
            <p class="hz">Structured content makes the reading experience easier and more enjoyable.</p>
            
            <p>In HTML, each paragraph has to be wrapped in a <span class="token punctuation">&lt;<span>h1</span><span class="token punctuation">&gt;</span> element, like so:</p>
                <div class="code-example"><pre class="brush: html notranslate"><code><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">&gt;</span></span>I am the title of the story.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span>
                </code></pre></div>
            
                <p>heading has to be wrapped in a heading element:</p>
                <div class="code-example"><pre class="brush: html notranslate"><code><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>I am a paragraph, oh yes I am.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
                </code></pre></div>
                 <p class="endend">The end</p>
        </div>
    </div>

 
  </body>
</html>