<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/portfolio.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header_logo">
            <a href="/"><img src="logo" alt=""></a>
        </div>
        <div class="header_search topnav">
            <img src="img/header/search.png" alt="">
            <input type="text" placeholder="Search on disk..">
        </div>
        <div class="header_acc">

            <div class="nav-item"><a href="auth" class="nav-link">Log in</a></div>
        </div>
    </header>
    <hr>
    <div class="wrapper">
        <nav class="nav">
            <div class="vertical-menu mb-5">
                <a href="#" class="active particular"><img src="img/header/upload.png" class="ml-50" alt="">Upload</a>
                <hr>
                <a href="#" class="active"><img src="img/header/time.png" alt="">Recently used</a>
                <a href="#" class="active"><img src="img/header/basket.png" alt="">Basket</a>
                <hr>
                <h3 class="active"><img src="img/header/cloud.png" alt="">Storage</h3>
                <a href="#" class="active"><img src="img/header/disk.png" alt="">Used <br> 2 gigabytes out of 30</a>
                <a href="#" class="active particular">Get more space</a>
            </div>
        </nav>
        <div class="content">
            <h3 class="content-header_text">My disk</h3>
            <hr>
            <div class="content-cards">
                <div class="card">
                    <div class="content-card">
                        <div class="mx-auto flex w-96 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60">
                            <!-- img -->
                            <img class="aspect-video w-96 rounded-t-2xl object-cover object-center" src="https://wallpaperbat.com/img/340075-ariana-grande-hd-wallpaper-desktop-background-mobile-19201080.jpg" />
                            <!-- text information -->
                            <div class="p-4">
                                <small class="text-blue-400 text-xm">Uploaded 5 min ago</small>
                                <h1 class="text-3xl font-medium text-slate-600 pb-2">Photo session organization</h1>
                                <p class="text-md tracking-tight font-light text-slate-400 leading-6">A renowned professional photographer was chosen and a photo session took place, usually in one of the royal residences rather than in the photog rapher's studio.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content-card">
                        <div class="mx-auto flex w-96 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60">
                            <!-- img -->
                            <img class="aspect-video w-96 rounded-t-2xl object-cover object-center" src="https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                            <!-- text information -->
                            <div class="p-4">
                                <small class="text-blue-400 text-xm">Uploaded 2 days ago</small>
                                <h1 class="text-3xl font-medium text-slate-600 pb-2">Car selling</h1>
                                <p class="text-md tracking-tight font-light text-slate-400 leading-6">Whether it's a first-time buyer looking for their first used car to a classic car enthusiast tracking down that rare vintage model, used car sites make the shopping experience simple with detailed searchable listings, car reviews, buyer guides, and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content-card">
                        <div class="mx-auto flex w-96 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60">
                            <!-- img -->
                            <img class="aspect-video w-96 rounded-t-2xl object-cover object-center" src="https://www.projectmanager.com/wp-content/uploads/2019/11/190916_Blog_Feature_Critical_Chain_PM.jpg" />
                            <!-- text information -->
                            <div class="p-4">
                                <small class="text-blue-400 text-xm">Uploaded one week ago</small>
                                <h1 class="text-3xl font-medium text-slate-600 pb-2">IT Project</h1>
                                <p class="text-md tracking-tight font-light text-slate-400 leading-6">The evidence suggests that the success rate for IT projects is poor  - more than half of projects are challenged in some aspect, whether in terms of cost, time or the quality of what is delivered.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-catalogue">

            </div>
        </div>
    </div>

</div>

<div class="fact">
    <div class="fact_header">

    </div>
    <div class="fact_inner">
        <div class="container1">
            <div class="quote-box">
                <p id="quote">"Quote goes here..."</p>
                <small id="author">- Author</small>
            </div>
            <button id="btn">New Quote</button>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer_inner">
        <h3>Copyright 2022 by Zhantore. All rights reserved.</h3>
    </div>
</footer>

<script>
    const api = "https://api.quotable.io/random";

    const quote = document.getElementById("quote");
    const author = document.getElementById("author");
    const btn = document.getElementById("btn");

    btn.addEventListener("click", getQuote);

    function getQuote() {
        fetch(api)
            .then((res) => res.json())
            .then((data) => {
                quote.innerHTML = `"${data.content}"`;
                author.innerHTML = `- ${data.author}`;
            });
    }

</script>
</body>
</html>
