<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyProjects</title>
    <script src="/routes/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="main">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="nav">
            <div class="header_logo">
                <a href="/"><img src="logo" alt=""></a>
            </div>
            <div class="nav-menu">
                <div class="nav-item"><a href="about" class="nav-link">Portfolio</a></div>
                <div class="nav-item"><a href="auth#form-wrapper" class="nav-link">Log in</a></div>
                <div class="nav-item nav-link">or</div>
                <div class="nav-item"><a href="auth#form-signup" class="nav-link">Sign up</a></div>
            </div>
        </div>
    </div>
    <div class="header_inner grey_background">
        <div class="header_inner_img1">
        </div>
        <div class="header_inner_text">
            <div class="header_inner_logo">
                <img src="logo" class="header_inner_logo" alt="">
            </div>
            <h2 class="">Store, access, and share your files in one place</h2>
            <h3>Store any and every file. Access files anytime, anywhere.</h3>
            <button class="header_inner_button">Get started</button>
        </div>
    </div>
    <div class="header_inner">

        <div class="header_inner_text">
            <h2>Get all the storage capacity you need</h2>
            <h3>MyProjects provides flexible storage options <br>so you will always have enough space for your files.</h3>
        </div>
        <div class="header_inner_img2">
        </div>
    </div>
    <div class="main_inner">
        <div class="main_inner_card">
            <div class="card">
                <h1>Standart Plus</h1>
                <p class="price">$4.99 <span class="usd">USD</span></p>
                <p style="color: grey;  padding-bottom: 1rem;">/user/month</p>
                <button class="header_inner_button">Get started</button><hr>
                <ul>
                    <li>30 GB cloud storage per user</li>
                </ul>
            </div>
        </div>
        <div class="main_inner_card">
            <div class="card">
                <h1>Business</h1>
                <p class="price">$7.99 <span class="usd">USD</span></p>
                <p style="color: grey;  padding-bottom: 1rem;">/user/month</p>
                <button class="header_inner_button">Get started</button><hr>

                <ul>
                    <li>2 TB cloud storage per user</li>
                    <li>Custom and secure business email</li>
                </ul>
            </div>
        </div>

        <div class="main_inner_card">
            <div class="card">
                <h1>Business Plus</h1>
                <p class="price">$15.99 <span class="usd">USD</span></p>
                <p style="color: grey;  padding-bottom: 1rem;">/user/month</p>
                <button class="header_inner_button">Get started</button><hr>
                <ul>
                    <li>5 TB cloud storage per user</li>
                    <li>Custom and secure business email + eDiscovery, retention</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<footer class="footer">
    <div class="footer_inner">
        <h3>Copyright 2022 by Zhantore. All rights reserved.</h3>
    </div>
</footer>
</body>
</html>
